  /* Таблица стилей для страницы index.html */

  /* Так обрамляются комментарии в CSS-файлах. */

  body { font-family: Arial, Verdana, sans-serif;
              border: 2px solid rgb(22,22,22); /* Рамка толщиной 2 пикселя.*/
             padding: 20px; /* Отступ от рамки = 20 пикселей.*/
             background-color: rgb(225,225,225);} 

    #bottom { border: 2px solid rgb(255,0,0); /* Стили для элемента с id="bottom" */
    	       color: red; }

    /* Цвет задается в формате: #RRGGBB. Например #ff0000 - красный, #00ff00 - зеленый, #0000ff - синий  */
   h1, h2 { color: #ee3e80;
            background-color: white
            opacity: 0.5;} 

   h4 { color: green;}

    p {color: #665544;}


     /* Задать размеры шрифтов для параграфов с id=fontsizelab1, id=fontsizelab2, id=fontsizelab3,:*/
     #fontsizelab1 { font-size: 12px; }
     #fontsizelab2 { font-size: 20px; }
     #fontsizelab3 { font-size: 30px; }

     /* Задать стили шрифтов для параграфов с атрибутами class="boldpar1" и др.:*/
     .boldpar1 { font-weight: bold;}
     .par2 { font-style: italic;}
     .par3 { font-style: oblique;}

     .par4 { text-transform: uppercase;}
     .par5 { text-transform: lowercase;}
     .par6 { text-transform: capitalize;}

     .par7 { text-decoration: underline;}
     .par8 { text-decoration: overline;}
     .par9 { text-decoration: line-through;}

      .par10 { letter-spacing: 0.2em;}

      .par11 { word-spacing: 0.2em;}
          
      .firmname  {
                  font-family: Georgia, Times, serif;
                  font-size: 250%;
                  font-weight: normal;
                  text-align: left;
                  color: #0088dd;
                  text-shadow: 2px 2px 3px #666666;
                  padding-bottom: 10px;}
 
         
