 /* Таблица стилей для страницы opacity.html */

          body{ /* Задать цвет фона с помощью элемента hsla-Hue,Saturation,Lightness,Alpha*/
               
                background-color: silver; /* Задать цвет фона для старых браузеров не поддерживающих hsla-элементы.*/
                background-color: hsla(0, 0%, 78%, 0.5); /* Новые браузеры поддерживают hsla, но лучше всегда 
                                                            использовать два варианта задания цвета.*/
              }

          /* Задать стили для блоков div<>, содержащих в себе блоки p<> :*/ 
          div {
				width: 100px; /* Размеры блоков.*/
			    height: 100px;
				margin: 40px; /* Расстояние между блоками.*/
				display: inline-block; /*Отобразить горизонтально.*/
				background-color: #ee3e80;}
                
                /* Задать стили для внутренних блоков <p>, переместив их относительно внешних блоков div<>. */
                 p {
                	width: 100px; 
				    height: 100px;
				    position: relative;
				    top: 10px;
				    left: 10px;
				    margin: 20px;
				    color: white;
				    background-color: black;}
		        
		        /* Сделать внутренние блоки <p> прозрачными на 50%.	*/	    
				p.one { 
					    opacity: 0.5;}
   
			    p.two {
				        opacity: 0.5; }   

             /* Задать координаты для отображения ссылки на домашнюю страницу.*/
			 #ref {  position: absolute;
				    top: 300px;
				    left: 20px; }

            