  /* Таблица стилей для страницы index.html */

  /* Так обрамляются комментарии в CSS-файлах. */

  body { font-family: Arial, Verdana, sans-serif;
              border: 2px solid rgb(22,22,22); /* Рамка толщиной 2 пикселя.*/
             padding: 20px; /* Отступ от рамки = 20 пикселей.*/
             background-color: rgb(225,225,225);
             width: 90%; /* Установить плавающий размер страницы: масштабируется при изменении размеров окна браузера.*/
       } 

    #bottom { border: 2px solid rgb(255,0,0); /* Стили для элемента с id="bottom" */
    	       color: red; }

    /* Цвет задается в формате: #RRGGBB. Например #ff0000 - красный, #00ff00 - зеленый, #0000ff - синий  */
   h1, h2 { color: #ee3e80;
            background-color: white
            opacity: 0.5;} 

   h4 { color: green;}

    p {color: #665544;}

    /* Размер изображений с классом large-size.*/
    img.large_size {
                    width: 400px;
                    height:300px;
                  }

    /* Выравнивание изображений с классом align-left.*/
    img.align-left{
                   display: block;
                  }
 

     /* Задать размеры шрифтов для параграфов с id=fontsizelab1, id=fontsizelab2, id=fontsizelab3,:*/
     #fontsizelab1 { font-size: 12px; }
     #fontsizelab2 { font-size: 20px; }
     #fontsizelab3 { font-size: 30px; }

     /* Задать стили шрифтов для параграфов с атрибутами class="boldpar1" и др.:*/
     .boldpar1 { font-weight: bold;}
     .par2 { font-style: italic;}
     .par3 { font-style: oblique;}

     .par4 { text-transform: uppercase;}
     .par5 { text-transform: lowercase;}
     .par6 { text-transform: capitalize;}

     .par7 { text-decoration: underline;}
     .par8 { text-decoration: overline;}
     .par9 { text-decoration: line-through;}

      .par10 { letter-spacing: 0.2em;}

      .par11 { word-spacing: 0.2em;}

              
      .firmname  {
                  font-family: Georgia, Times, serif;
                  font-size: 250%;
                  font-weight: normal;  
                  text-align: left;
                  border-style: solid;
                  border-color: #0088dd;
                  border-radius: 30px 10px;
                  border-width: 3px;
                  padding: 5px;
                  width: 170px;
                  color: #0088dd;
                  text-shadow: 2px 2px 3px #666666;
                  padding-bottom: 10px;
                 }
  

         /* Размеры элемента div с id=mybox */
        #mybox{
                height: 100px;
                width: 300px;
                border-style: solid;
                border-width: 1px 4px 12px 4px; /* Разная толщина рамки вдоль каждой стороны блока*/
                padding: 4px;
                background-color: #bbbbaa; }

        /* Размеры параграфа с id=mypar */
        #mypar{
                height: 100px;
                width: 300px;
                border-style: solid;
                border-width: thick;
                padding: 4px;
                background-color: lightblue; }

        /* Добавить полосы прокрутки в параграф, если в нем не поместился текст*/
        p.two {
               min-height: 30px;
               max-height: 85px;
               width: 200px;
               background-color: white;
               overflow: scroll;}

         /*Горизонтальное меню для навигации по сайту.*/
         li.navig {
                   display: inline; 
                   margin-right: 10px;}      

        /* Сделать рамки для параграфов из изображения images/dots.gif */
        p.brd1 {
                 width: 197px;
                 height: 54px;
                 border: 11px solid #ffffff;
                 -moz-border-image: url("../images/dots.gif") 11 11 11 11 stretch; /*Для старых браузеров*/
                 -webkit-border-image: url("../images/dots.gif") 11 11 11 11 stretch;/*Для старых браузеров*/
                 border-image: url("../images/dots.gif") 11 11 11 11 stretch;} 
        p.brd2 {
                 width: 197px;
                 height: 54px;
                 border: 11px solid #ffffff;
                 -moz-border-image: url("../images/dots.gif") 11 11 11 11 round; /*Для старых браузеров*/
                 -webkit-border-image: url("../images/dots.gif") 11 11 11 11 round;/*Для старых браузеров*/
                 border-image: url("../images/dots.gif") 11 11 11 11 round;}
    
        /* Сделать рамки в виде геометрических фигур. */
        p.fig1 {
                border: 5px solid #ee3e80;
                padding: 10px;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin: 20px;
                border-top-left-radius: 80px 50px;
               }

       p.fig2 {
                border: 5px solid #ee3e80;
                padding: 10px;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin: 20px;
                border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
               } 

       p.fig3 {
                border: 5px solid #ee3e80;
                padding: 10px;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin: 20px;
                border-radius: 100px;
               }

          /*Использовать изображения вместо индексов в списке.*/
          ul.mylist{
                    list-style-image: url("../images/star.png");
                   }


      /* Стили для окон ввода текста.*/
       input#name,input#email,input#twitter,input#web {
                                            font-size: 120%;
                                            color: #5a5854;
                                            background-color: #f2f2f2;
                                            border: 1px solid #bdbdbd;
                                            border-radius: 5px;
                                            padding: 5px 5px 5px 30px;
                                            background-repeat: no-repeat;
                                            background-position: 8px 9px;
                                            display: block;
                                            margin-bottom: 10px;}

        input#name:focus, input#name:hover,
        input#email:focus, input#email:hover,
        input#twitter:focus, input#twitter:hover,
        input#web:focus, input#web:hover {
                                               background-color: #ffffff;
                                               border: 1px solid #b1e1e4;}

        input#email {
                     background-image: url("../images/email.png");}
        input#twitter {
                       background-image: url("../images/twitter.png");}
        input#web {
                  background-image: url("../images/web.png");} 


      /* Стили для кнопки Submit. */
     input#submit {
        font-size: 120%;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        background-repeat: no-repeat;
        background-position: 8px 9px;
        display: block;
        margin-bottom: 10px;
        color: #444444;
        text-shadow: 0px 1px 1px #ffffff;
        border-bottom: 2px solid #b2b2b2;
        background-color: #b9e4e3;
       }
      input#submit:hover {
        color: #333333;
        border: 1px solid #a4a4a4;
        border-top: 2px solid #b2b2b2;
        background-color: #a0dbc4;
       }


       /*Стили для элемента fieldset, объединяющего различные элементы в группу с рамкой. */
       fieldset {
        width: 350px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        text-align: right;}


        legend {  /* Оформление заголовка рамки элемента fieldset*/
        background-color: #efefef;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: left;
        text-transform: uppercase;

      