 /* Таблица стилей для страницы jspage2.html */

          body{ /* Задать цвет фона с помощью элемента hsla-Hue,Saturation,Lightness,Alpha*/
               
                background-color: silver; /* Задать цвет фона для старых браузеров не поддерживающих hsla-элементы.*/
                background-color: hsla(0, 0%, 78%, 0.5); /* Новые браузеры поддерживают hsla, но лучше всегда 
                                                            использовать два варианта задания цвета.*/
              }

         #clock { /* Стили применяются к элементу с id="clock" */
                  font: bold 24pt sans; /* Использовать большой полужирный шрифт */
                  background: #ddf; /* Светлый,голубовато-серый фон */
                  padding: 10px; /* Отступы вокруг */
                  border: solid black 2px; /* И сплошная черная рамка */
                  border-radius: 10px; /* Закругленные углы(если поддерживаются) */
                }
      

            